body {
  font-family: "Roboto", sans-serif;
}

.title-success {
  position:relative;
  font-size: 44px;
  font-weight: bold;
  animation-duration: 1.8s;
  animation-fill-mode: both;
  animation-name: bounceIn;
  animation-iteration-count: 1;
  color: #00C6BA;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

.success {
  position:relative;
  animation-duration: 1.8s;
  animation-fill-mode: both;
  animation-name: bounceIn;
  animation-iteration-count: 2;
  margin: 0;

  width: 100px;
  height: 100px;
}

@keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}
.modalwindow a {
  text-decoration: none;
}
.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}
.modalwindow {
  width: 400px;
  min-height: 370px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 0px 15px #c0c0c0;
  -moz-animation-name: bounce;
  animation-duration: 1.8s;
  animation-fill-mode: both;
  animation-name: bounce;
  animation-iteration-count: 1;
}
.modalwindow p {
  clear: both;
  color: #555555;
  /* text-align: justify; */
  font-size: 20px;
  font-family: sans-serif;
}
.modalwindow p a {
  color: #d91900;
  font-weight: bold;
}
.modalwindow .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}
.modalwindow .x:hover {
  cursor: pointer;
}

.close {
  position: relative;
  float: right;
  font-weight: bold;
  color: #fff;
  right: 10px;
  top:-10px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.owlystand {
  position:relative;
  width: 200px;
  height: 150px;  
  margin: 0 auto;
  -moz-animation-name: jumpbounce;
  animation-duration: 1.8s;
  animation-fill-mode: both;
  animation-name: jumpbounce;
  animation-iteration-count: 1;
}

@keyframes jumpbounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

path.legOne.st1 {
  animation: legdanceOne 0.5s 2;
}
@keyframes legdanceOne {
  100% {
    transform: rotate(1deg);
  }
}

path.legTwo.st1 {
  animation: legdanceTwo 0.5s 3;
}
@keyframes legdanceTwo {
  100% {
    transform: rotate(-3deg);
  }
}

.checkmark-border{
  background: #00C6BA;
  padding: 20px 0px 20px 0px;
}

